.more-action-popup {
  background-color: black;

  .more-action-popup-items {
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    position: absolute;
    z-index: 6001;
  }

  .more-action-popup-item {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: 1px solid #f4f4f4;
      // margin-bottom: 5px;
    }

    &:hover {
      background-color: #f4f4f4;
    }

    .more-action-popup-label {
      margin: 0 0 0 10px;
    }
  }
}

.more-action-popup-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
}